@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Material+Symbols+Outlined&display=swap');
@import "tailwindcss";
body {
    background: #191919;
    font-family: 'Poppins', sans-serif;
}

input[type="password"]::-ms-reveal,
input[type="password"]::-webkit-credentials-auto-fill-button {
  display: none;
}

.myShadow{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* Thin, dark scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #12121200;
}

::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
